.container {
  /* border: 20px ridge rgb(235, 226, 226); */
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  padding: 10px 30px;
  border-radius: 15px;
}
.weather {
  border: 2px solid grey;
  padding: 25px;
  margin: 0px;
  border-radius: 15px;
}
.weather h3 {
  margin-top: 15px;
}
.weather ul {
  margin: 0;
  padding: 0;
}
.weather ul li {
  /* border: 2px solid grey; */
  /* display: inline-block; */
  list-style: none;
  font-size: 12px;
  line-height: 16px;
  padding-top: 6px;
}
.weather .temperature {
  color: #626a80;
  /* display: inline-block;  */
  vertical-align: top;
  font-family: "Noto Sans", sans-serif;
  font-size: 48px;
  font-weight: 400;
  letter-spacing: 1;
  line-height: 80px;
}
.weather .unit {
  color: #202124;
  display: inline-block;
  font-size: 16px;
  line-height: 24px;
  margin-top: 15px;
  padding-left: 2px;
  vertical-align: top;
}
.col-6 img {
  margin: 5px;
}
