.weatherinfo .col-6 ul{
    /* border: 2px solid red; */
    padding-top: 40px;
    padding-left: 80px;
}
.weatherinfo .row {
    /* border: 2px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
    
    

}
.weatherinfo .row .col-6{
    display: flex;
    justify-content: center;
    align-items: center;
}
